
@media (max-width: 1599px) {

    .main {
        &__options {
            &_item {
                &-change {
                    grid-template-columns: 20% 20% auto;
                    column-gap: 10px;
                }
                &-raceBtn {
                    width: auto;
                }
                &-resetBtn {
                    width: auto;
                }
            }
        }
    }

}

@media (max-width: 1199px) {

    .main {
        &__options {
            &_item {
                column-gap: 5px
            }
        }
    }

    .main__garage_title-winner {
        font-size: 40px;
    }

    .winner{
       &__button {
        height: 60px;
       }
    }
}


@media (max-width: 991px) {

    .mistake,
    .mistake2 { 
    &::after {               
        width: 300px;
        left: 10%;        
    }
}
 

 .main__options_item-name,
 .main__options_item-rename {
    font-size: 15px;
 }

 .main__garage_title-winner {
    font-size: 30px;
 }
 
}

@media (max-width: 767px) {
    .main__options {
        width: 70%;
    }

    .header__buttons {
            flex-wrap: wrap;
            justify-content: center;
    }

    .mistake,
    .mistake2 {
        &::after {               
            width: 100px;
            left: 70%;
            font-size: 15px;        
        }
    }

    .main__garage_title {
        font-size: 30px;
    }

    .garage__item_config {
        &::after {
            left: calc(100vw - 200px);            
        }
        svg {
            width: 100px;
            height: 50px;
            transform: translateY(30%);
        }

    }

    .main__garage_change {
        justify-content: center;
        gap: 10px;
    }

    .footer__wrapper {
        width: 300px;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 20px;
        gap: 10px;
    }

    .winner__wrapper_item-name {
        font-size: 15px;
        overflow: hidden;
        width: 50px;
        text-overflow: ellipsis;
    }
    .winner__button {
        font-size: 15px;
    }

    .garage__item_wrapper-name {
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
}

@media (max-width: 480px) {
    .main__options {
        width: 100%;
    }

    .mistake
     {
        &::after {               
            width: 200px;
            left: -300%;
            bottom: -100%;
            font-size: 15px;        
        }
    }

    .mistake2 {
        &::after {               
            width: 280px;
            left: -360%;
            bottom: -100%;
            font-size: 15px;        
        }
    }

    .main__options_item-name,
    .main__options_item-rename {
        padding-left: 5px;
    }

    .main__options_item-resetBtn {
        font-size: 15px;
    }

    .garage__item_wrapper-selectBtn {
        font-size: 15px;
    }

    .main__garage_title-winner {
        font-size: 20px;
        width: auto;
        overflow: hidden;
    }

    .main__garage_title-winner {
        background-color: lightgray;
    }

    .main__winner_change {
        justify-content: center;
        gap: 10px;
    }

    .winner__items {
        grid-template-columns: 20% 1fr 1fr 1fr 2fr;
        &_number {
            font-size: 15px;
        }
    }


}